.footer {
	background-color: var(--background-color);
	color: #242424;

	flex: 0 0;

	font-weight: 500;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;

	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;

	border: 3px inset var(--border-color);

	padding: 0.25rem;
}

.footer[disabled] * {
	opacity: 0.3;
}

.footer select {
	border: 2px inset var(--border-color);

	font-family: inherit;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: right;

	background-color: rgba(255, 255, 255, 0.15);

	padding: 0.125rem;
	padding-right: 0.5rem;
	border-radius: 0.0625rem;

	position: relative;
}

.edit-button {
	height: 1.5rem;
	width: auto;
	aspect-ratio: 1;

	padding: 0.125rem;
	box-sizing: border-box;

	display: flex;
	place-items: center;

	border: 2px outset var(--border-color);
}

.edit-button:active {
	border: 2px inset var(--border-color);
}

.edit-button svg {
	height: auto;
	width: 1rem;
}
