.outer-container {
	max-height: 100%;
	max-width: 100%;

	box-sizing: border-box;

	overflow: hidden;

	position: relative;
	display: flex;
}

.inner-container {
	box-sizing: border-box;

	overflow: auto;
	flex: 1 1;
}

.inner-shadow {
	--direction: 90deg;

	background: rgb(0,0,0);
	background: linear-gradient(var(--direction), rgba(0, 0, 0, 0.5) 0%, transparent 100%);

	pointer-events: none;

	position: absolute;
	inset: 0;

	transition: opacity linear 100ms;
}

.left {
	--direction: 90deg;

	width: clamp(10px, 5%, 25px);
	left: 0;
	right: auto;
}

.right {
	--direction: -90deg;

	width: clamp(10px, 5%, 25px);
	left: auto;
	right: 0;
}

.top {
	--direction: 180deg;

	height: clamp(10px, 5%, 25px);
	bottom: auto;
	top: 0;
}

.bottom {
	--direction: 0deg;

	height: clamp(10px, 5%, 25px);
	top: auto;
	bottom: 0;
}

.show-1 {
	opacity: 1;
}

.show-0 {
	opacity: 0;
}
