.app {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  user-select: none;

  margin: 0 auto;

  border: 4px outset rgb(239, 239, 239);

  position: relative;
  z-index: 1;
}

.ribbon {
  position: absolute;

  top: 0;
  right: 0;
}
