.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	flex: 0 0;

	max-width: 100vw;
	box-sizing: border-box;

	font-size: 2.5rem;

	background-color: rgb(193, 199, 200);
	padding: 0.5rem;
	border: 3px inset rgb(239, 239, 239);
}

.button {
	border: 3px outset rgb(239, 239, 239);
	border-radius: 0;

	flex: 1 0;
	height: 100%;
	max-width: 2.5rem;
	aspect-ratio: 1;

	padding: 0.25rem;

	display: flex;
	place-items: center;
}

.button img {
	aspect-ratio: 1;
	width: 100%;
	height: auto;
}
