.display {
	display: flex;

	border: 2px inset var(--border-color);
}

.char {
	flex: 1;

	display: flex;
	justify-content: end;
	align-items: center;

	text-align: right;
	line-height: 1;

	background-color: #190107;
	color: #a3012c;

	padding: 0.125rem;

	position: relative;

	width: 0.5em;
	box-sizing: content-box;
}

.char::after {
	position: absolute;
	inset: 0;
	content: '8';
	opacity: 0.25;

	padding: 0.125rem;

	display: flex;
	justify-content: end;
	align-items: center;

	text-align: right;
	line-height: 1;
}
